.container {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  position:fixed;
  bottom: 0;
  margin:200px, 0px;
  height: 40px;
  width: 96%;
  background-color: #800000;
  float: bottom;
	text-align: center;
  padding: 0;
}

.footer text {
	color: white;
}
ul {
    list-style-type:none;
    margin: 0;
    padding:0;
    position:fixed;
    overflow: hidden;
    top: 0;
    width: 96%;
    background-color: #800000;
    z-index: 1;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}
li a:hover, .dropdown:hover.dropbtn{
  background-color: gray;
}
.border {   border-width: 12px;   border-color: black;   border-style:double; }
.dropdown-content {
    display: none;
    position:fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.img {
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, .8);
  border: 2px solid gray;
  height: 200px;
  width: 200px;

  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.img:hover {
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, .8);
  border: 2px solid gray;
  width: 250px;
  height: 250px;
}
