/*To create our vertical navigation bar we must use floating or inline list items*/
ul {
	list-style-type: none; /*removes the bullets*/
	margin: 0px 160px;
	padding: 0px;
	/*removes defaults set by web browser*/
	background-color: #333;
	/*We add the background color to 'ul' to keep nav bar color with no breaks*/
	overflow: hidden;
	/*below are css attributes to have our navbar fixed at the top*/
	position: fixed;
	top: 0;
	width: 1200px;
	text-align: center;/*Centers text*/
	border: solid;
	height: auto;
	
}

li {
	display: inline; /* This will make our nav bar horizontal*/
}

li a {
	font-size: 24px;
	padding: 10px;
	color: white;
	padding: 14px 80px;
	text-decoration: none; /*removes underline for 'li'*/
}

li.active {
	background-color: #4CAF50;
}

li a:hover {
	background-color: #111;
	/*background color of nav with mouse over will change color*/
}
/*This will be setting our full page background image*/
body {
	background-image: url(img5.jpg);
	background-position: none; /*Only one image so we do not need to define a position*/
	background-repeat: repeat;
	background-size: 1700px;
}

.b_container {
	/* Here we will set the boundaries for the rest of our website content*/
	width: 1200px;
	margin:35px 160px;
	padding: 0;
	display: block;
	border: solid;
	background-color: ;	
}



h2 {
	width: 1200px;
	margin:35px 160px;
	padding: 0;
	text-align: center;
	display: block;
	border: groove;
	background-color: cyan;
}
footer {
	position: fixed;
	width: 1200px;
	bottom:0;
	margin:0px 160px; 
	height: 40px; 
	padding: 0;
	overflow: hidden;
	background-color: #333;
	float: bottom;
	text-align: center;
	
}

footer text {
	color: white;/*Colors text within our footer section*/
}